
@{
    ViewBag.Title = "Teléfonos Sucursal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10"> <h6 class="m-0 font-weight-bold text-primary">Téfonos Sucursal</h6> </div>
            </div>
            <hr />
            <div class="row float-right">
                <a href="#" class="btn btn-success btn-icon-split btn-sm" onclick="ShowCreateModal()">
                    <span class="icon text-white-50">
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <span class="text">Nuevo Teléfono</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Teléfono</th>
                        <th>Sucursal</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Create Modal-->
<div class="modal fade" id="CreateBranchOfficePhoneModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static">

    <div class="modal-dialog">

        @*Contenido*@
        <div class="modal-content">

            @*Cabecera*@
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Nuevo Teléfono</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>

            @*Cuerpo*@
            <div class="modal-body">

                @*Inputs*@
                <form id="CreateBranchOfficePhoneForm" class="row">

                    @* Sucursal *@
                    <div class="col-sm-6">
                        <label for="BranchOfficeIdSelect" class="form-label">Departamento</label>
                        <select class="form-control" id="BranchOfficeCreateSelect">
                        </select>
                    </div>

                    @* Teléfono *@
                    <div class="col-sm-6">
                        <label for="PhoneNumberCreate" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="PhoneNumberCreate" name="PhoneNumberCreate" autocomplete="off">
                    </div>

                    @* Estado *@
                    <div class="col-sm-6">
                        <label for="ActivePhoneCreate" class="form-label">Activo</label>
                        <select class="form-control" id="ActivePhoneCreate">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </form>

                @* Mensaje Error *@
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="ErrorCreate" class="alert alert-danger" role="alert">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="button" onclick="Create()">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal-->
<div class="modal fade" id="UpdateBranchOfficePhoneModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static">

    <div class="modal-dialog">

        @*Contenido*@
        <div class="modal-content">

            @*Cabecera*@
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Nuevo Teléfono</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>

            @*Cuerpo*@
            <div class="modal-body">

                @*Inputs*@
                <form id="UpdateBranchOfficePhoneForm" class="row">

                    @* Sucursal *@
                    <div class="col-sm-6">
                        <label for="BranchOfficeIdSelect" class="form-label">Departamento</label>
                        <select class="form-control" id="BranchOfficeUpdateSelect">
                        </select>
                    </div>

                    @* Teléfono *@
                    <div class="col-sm-6">
                        <label for="PhoneNumberUpdate" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="PhoneNumberUpdate" name="PhoneNumberUpdate" autocomplete="off">
                    </div>

                    @* Estado *@
                    <div class="col-sm-6">
                        <label for="ActivePhoneUpdate" class="form-label">Activo</label>
                        <select class="form-control" id="ActivePhoneUpdate">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </form>

                @* Mensaje Error *@
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="ErrorUpdate" class="alert alert-danger" role="alert">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="button" onclick="Update()">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Page level scripts -->
<script src="~/Scripts/BranchOffice/BranchOfficePhone.js"></script>