@{
    ViewBag.Title = "PurchaseHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h6 class="m-0 font-weight-bold text-primary">Historial De Compras</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">

        <hr />

        <div class="row align-items-end" id="buttons">
            <div class="col-sm-5">
                <div class="mb-2">
                    <label class="form-label">Fecha: </label>
                    <input class="form-control" type="text" id="txtfechainicio" name="fechainicio"
                           autocomplete="off" />
                </div>
            </div>

            <div class="col-sm-2">
                <div class="d-grid  mb-2">
                    <button class="btn btn-success btn-block" onClick="Excel()">
                        Exportar Excel
                        <i class="fas fa-file-excel ml-1"></i>
                    </button>
                </div>
            </div>

             <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-google btn-block" onClick="PDF()">
                            Exportar PDF
                            <i class="fas fa-file-pdf ml-1"></i>
                        </button>
                    </div>
                </div> 

        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Total C$</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/Purchase/PurchaseHistory.js"></script>